<h1>Editing Cat</h1>

<%= render 'form', cat: @cat %>

<%= link_to 'Delete Cat', @cat, method: :delete, data: { confirm: 'Are you sure?' }, class: button_class('danger') %>

<%= link_to 'All Cats', cats_path, class: button_class %>
